@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html, body, #root {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;
}